{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
<h1>Hesaba Zaten Giriş Yaptınız! </h1>

{% else %}
<div class="col-md-6 offset-md-3">
<h1>Giriş</h1>
<br/>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

  <div class="mb-2">
    
    <input type="text" class="form-control" name="username"
    placeholder="Kullanıcı Adı">
    
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password"
    placeholder="şifre">
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Giriş</button>
</form>


</div>


{% endif %}
{% endblock %}